/* Reset mặc định cho các phần tử */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {  
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
  color: #333;    
  padding-top: 50px;  /* Thêm padding để không bị che nội dung dưới menu */
}

header {
    background-color: white;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;  /* Giữ thanh menu cố định */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;  /* Đảm bảo menu luôn nằm trên các phần tử khác */
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
}

.cart-section {
  padding: 20px;
  background-color: #fff;
  max-width: 1200px;
  margin: 30px auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.cart-summary {
  text-align: right;
  padding: 15px;
  font-weight: bold;
}

.checkout-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 20px auto;
}

.checkout-form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.checkout-form button {
  background-color: #7C4585;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-form button:hover {
  background-color: #3D365C;
}
 /*.delete-btn {
  background-color: #4caf50; Đỏ tươi 
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 35px;
}

.delete-btn:hover {
  background-color: #4caf50; /* Màu đậm hơn khi hover 
}*/

.delete-btn {
  background-color: rgb(209, 32, 32);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 35px;
}

.delete-btn:hover {
  background-color: rgb(196, 24, 24); /* Màu đậm hơn khi hover */
}

